.page-header
    %h2 Ernest Grumbles
.row-fluid
    .span3
        .thumbnail
            %img{:src => asset_path("people/grumbles.jpg")}
        .row-fluid
            .span1
            .span11
                %br
                %small
                    %a{:href => "mailto:egrumbles@adamsgrumbles.com"}= truncate "egrumbles@adamsgrumbles.com", :length => 22
                %br
                %small Phone: 612-465-8095
                %br
                %small Mobile: 651-491-3643
    .span9
        %p Ernest is an IP and business attorney representing innovation-driven startups and entrepreneurs. He works with early-stage clients to identify and protect patent, trademark and copyright assets and to launch, develop and finance high-growth enterprise.
        %p Ernest has deep experience in the software, life science, outdoor recreation and electronic gaming verticals and is currently assisting clients in the following spaces: network security, mobile apps, food delivery, personal memory management, e-learning, medical device, MMORPG games, online communities (youth employment, fishing/hunting), camera and mobile phone accessories, advanced control systems, digital marketing, health IT, database management and clothing (t-shirts; menswear).
        %p
            As co-founder and leader of
            = succeed ',' do
                %a{:href => "http://mojominnesota.com", :target => "_blank"} MOJO Minnesota
            Ernest advocates for the Minnesota startup and innovation community. MOJO, a cooperative of entrepreneurs, VCs, angel investors and startup advisors, launched in 2009 and has been working to make Minnesota a strong place to launch and fund new innovative enterprise. Ernest is also a co-founder of the
            %a{:href => "http://gopherangels.com", :target => "_blank"} Gopher Angels
            (angel investor group),
            %a{:href => "http://agepower.org", :target => "_blank"} AgePower
            (technology competition aimed at the needs of the aging), and AccelerateMSP (non-profit venture development organization). He has served as a business judge in
            = succeed ',' do
                %a{:href => "http://twincities.startupweekend.org/", :target => "_blank"} Startup Weekend Twin Cities
            %a{:href => "http://carlsonschool.umn.edu/holmes-center/programs/biz-pitch-contest.html", :target => "_blank"} BizPitch
            (Univ. of MN) and the
            %a{:href => "http://stthomas.edu/Business/schulzeschool/fowlerchallenge/default.html", :target => "_blank"} Fowler Business Concept Challenge
            (Univ. of St. Thomas).
        %p Other facts:
        %ul
            %li Native of Dallas, TX (home of good BBQ); graduate of Boston College (1989) and University of Wisconsin Law School (1995)
            %li
                Co-inventor on
                %a{:href => "http://google.com/patents/US8544341", :target => "_blank"} U.S. Patent No. 8544341
                (fluid-based recreational electronic device), issued in October 2013
            %li Co-founder in startups working on mental health diagnostics and fluid-based recreational electronic devices (see above)
            %li
                %a{:href => "http://twitter.com/ernestgrumbles", :target => "_blank"} Twitter feed
                on new IP, technology and startup developments;burger blog at
                %a{:href => "http://burgerfind.com", :target => "_blank"} burgerfind.com
            %li AV peer review rating by Martindale-Hubbell; 2014 Minnesota SuperLawyer.
