.page-header
    %h2 People
.thumbnails.center
    %li.span3
        %a.thumbnail{:href => people_adams_path}
            %img{:src => asset_path("people/adams.jpg")}
        %h4 Edward S. Adams
    %li.span3
        %a.thumbnail{:href => people_grumbles_path}
            %img{:src => asset_path("people/grumbles.jpg")}
        %h4 Ernest Grumbles
    %li.span3
        %a.thumbnail{:href => people_nanzig_path}
            %img{:src => asset_path("people/nanzig.jpg")}
        %h4 Brittany Nanzig
