@font-face {
    font-family: 'OratorStd';
    src: url('/assets/OratorStd.eot');
    src: url('/assets/OratorStd.eot?#iefix') format('embedded-opentype'),
         url('/assets/OratorStd.woff') format('woff'),
         url('/assets/OratorStd.ttf') format('truetype'),
         url('/assets/OratorStd.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
