.container
    .row
        .span12
            %h2 About Adams Grumbles LLP
    .row
        .span4
            %a.twitter-timeline{:href => "https://twitter.com/ernestgrumbles", :data => {:widget => {:id => "437484585438285824"}}} Tweets by @ernestgrumbles
        .span8
            %p
                %b Strategic Corporate Counseling
            %p Adams Monahan is a strategic agent for its clients – from entrepreneurs to business owners and executives of early-stage and established businesses. We assist our clients in forming and growing new enterprise, driving and coordinating finance efforts and recognizing and protecting intellectual property assets. High-growth, early-stage and innovative enterprises present unique challenges – with new technologies, markets and business models. Working with entrepreneurs and the finance community requires comfort with the certainty of rules and the uncertainty of new business. AM lawyers have deep experience in this environment, working collaboratively with clients, colleagues and the community to drive results.
            %p
                %b Financial Industry Regulation
            %p As a financial professional, you are often presented with difficult business challenges confronting your clients. Your experience permits you to examine issues, evaluate options and select strategies that best serve your clients. In a highly regulated industry, you or your firm may be confronted with legal challenges. Adams Monahan helps you to understand those legal issues and works with you to identify and evaluate options and to select strategies that serve your interests and objectives. The legal analysis we provide is enhanced by the business skills and financial industry experience of our legal professionals. Our legal professionals include former registered principals and registered representatives who understand the regulatory environment of the financial services industry. The firm provides services to financial services professionals in connection with negotiations with regulators, preparing document and data productions, responding to requests for information, drafting legal briefs related to FINRA audits, investigations, inquiries and on the record interviews.
