#splash
    %p.lead
        %span Adams Grumbles, LLP
        – attorneys representing
        %br
        entrepreneurs and early-stage companies for their
        %br
        corporate, financial, and strategic intellectual property needs.
