.container
    .span12#splash
        %h1.logo-font Adams Grumbles LLP
        %p.lead
            a law firm with deep experience representing
            %br
            early-stage and emerging companies for their corporate,
            %br
            financial and strategic intellectual property counseling needs.
