#people.container
    .row
        .span12
            .thumbnail
                %img{:src => placehold(250, 200)}
                %h3 Edward S. Adams
                %p
                    %a.btn.btn-inverse{:href => people_adams_path} More info &raquo;
            .thumbnail
                %img{:src => placehold(250, 200)}
                %h3 Ernest Grumbles
                %p
                    %a.btn.btn-inverse{:href => people_grumbles_path} More info &raquo;
