.container
    .row
        .span12
            %h2 Ernest Grumbles
    .row
        .span3
            .thumbnail
                %img{:src => placehold(250, 300)}
            .row-fluid
                .span1
                .span11
                    %br
                    %small Phone: 612-465-8092
                    %br
                    %small Mobile: 612-325-1800
        .span9
            %p Ernest is a strategic IP and business development counselor for emerging technology companies and entrepreneurs. He assists clients in recognizing and protecting IP assets and evolving innovation strategies around launch, growth and finance. He is currently working with many startup companies, including pre-revenue and venture-backed entities. Current technology focuses include interactive web applications, medical devices, location- and mobile-based services, green-tech, medical informatics and semiconductor manufacturing.
            %p IP enforcement and defense are also an important part of Ernest’s practice. He is a trial attorney and has handled numerous intellectual property disputes in federal courts around the United States, including patent litigation related to optical inspection tools, medical devices and electronic gaming equipment, and trademark enforcement for national consumer brand companies. Ernest second-chaired a four-week patent infringement trial in spring 2009 in the District of Minnesota for a wafer inspection client, handling several witnesses, including damages experts. The matter, still pending, resulted in a judgment in in excess of $8 million and a rejection of defendant’s invalidity allegation. Ernest was co-lead counsel in a copyright infringement lawsuit related to the Baltimore Ravens Super Bowl ring and sole attorney for a client in multi-defendant narcotics trial on the Texas-Mexico border.
            %p Ernest is a community advocate for startups and innovation policy in Minnesota and is Co-Founder and leader of MOJO Minnesota (http://www.mojominnesota.com). MOJO, a collective of entrepreneurs, VC’s, angel investors and startup advisors, launched in 2009 and has been working on various policy change and community building efforts to make Minnesota a strong place to launch and fund new innovative enterprise. He is currently private sector liaison for Accelerate MSP – a public-private effort to build a regional entrepreneurial accelerator for the 13-county MSP metro area.
            %p Ernest is also active in social media, including as co-host of BP/G Radio, a intellectual property podcast found at http://www.bpgradio.com. He also posts on new IP, technology and startup developments on twitter (www.twitter.com/ernestgrumbles) and Tech.MN (http://tech.mn). Ernest regularly speaks on IP and innovation issues, including recent presentations on IP for Startups, Minnesota’s Angel Investor Tax Credit, Green Tech IP and others.
            %p Ernest has achieved an AV peer review rating by Martindale-Hubbell and was recently named a 2011 Minnesotan on the Move by Finance & Commerce.
