.page-header
    %h2 Resources
.row-fluid
    .span4
        %a.twitter-timeline{:href => "https://twitter.com/ernestgrumbles", :data => {:widget => {:id => "437484585438285824"}}} Tweets by @ernestgrumbles
    .span8
        %p
            %b Resources coming soon!
