- content_for :title do "Resources" end
.page-header
    %h2 Resources
.row-fluid
    .span6
        %b Corporate/Entrepreneurship
        %ul
            %li
                %a{:href => "http://www.sos.state.mn.us/index.aspx?page=1175"} MN Secretary of State – Business Formation/Records</a></span>
            %li
                %a{:href => "http://mn.gov/deed/business/"} MN Dept. of Employment & Econ. Development</a></span> – general business links
            %li
                %a{:href => "http://www.mojominnesota.com"} MOJO Minnesota  – community/advocacy for MN startups and innovation economy
            %li
                Univ. of Minnesota –
                %a{:href => "http://www.entrepreneurship.umn.edu"} Holmes Center for Entrepreneurship
            %li
                %a{:href => "http://www.breakthoughideas.org"} Minnesota Cup
                – business plan competition
            %li
                Univ. of St. Thomas –
                %a{:href => "http://www.stthomas.edu/Business/schulzeschool/fowlerchallenge/default.html"} Fowler Business Concept Challenge
            %li
                %a{:href => "http://www2.cleantechopen.org/about-us/"} CleanTech Open
                – bus. and tech. competition for clean/green startups
            %li
                MN DEED:
                %a{:href => "http://mn.gov/deed/business/financing-business/tax-credits/angel-tax-credit/"} Angel Investor Tax Credit
                – applications and information
            %li
                %a{:href => "http://www.gopherangels.com/"} Gopher Angels
                – angel investor group
            %li
                %a{:href => "http://www.tcangels.com/"} Twin Cities Angels
                – angel investor group
            %li
                %a{:href => "http://www.agepower.org"} AgePower
                – startup competition for tech for the aging
            %li
                %a{:href => "https://minnesota.tie.org/"} TiE Minnesota
                – local chapter of int&rsquo;l entrepreneurship organization
            %li
                %a{:href => "http://theinnovationengine.org/"}InnovationEngine
                – MN accelerator program
            %li
                %a{:href => "http://minnestar.org/"} Minne*
                – MinneBar, MinneDemo
            %li
                %a{:href => "http://www.kauffman.org"} Kauffman Foundation
                – entrepreneurship info and education
    .span6
        %b Intellectual Property/Licensing
        %ul
            %li
                %a{:href => "http://www.uspto.gov"} USPTO
            %li
                %a{:href => "http://www.uspto.gov/patents/index.js"} U.S. Patent Office
            %li
                %a{:href => "http://www.uspto.gov/trademarks/index.jsp"} U.S. Trademark Office
            %li
                %a{:href => "http://www.copyright.gov/"} U.S. Copyright Office
            %li
                %a{:href => "http://www.google.com/patents"} Google Patents
                – patent search
            %li
                Univ. of Minnesota –
                %a{:href => "http://www.research.umn.edu/techcomm/#.UxNAkvRdX5I"} Office for Technology Commercialization
                – technology licensing
            %li
                Univ. of Minnesota –
                %a{:href => "http://www.research.umn.edu/techcomm/venture-center.html#.UxNA5PRdX5I"} Venture Center
                – university – based business development
            %li
                %a{:href => "http://www.cipo.ic.gc.ca/"} Canadian IP Office
            %li
                %a{:href => "http://www.epo.org/"} European Pat. Office
            %li
                %a{:href => "https://oami.europa.eu/ohimportal/en/"} OHIM
                (European Community TM Office)
            %li
                %a{:href => "http://www.sipo.gov.cn/sipo_English/"} Chinese IP Office
            %li
                %a{:href => "http://www.ip-watch.org"} IP Watch
                – int'l IP news
            %li
                %a{:href => "http://www.icann.org/"} ICANN
                – domain name governing body
        %a.twitter-timeline{:href => "https://twitter.com/ernestgrumbles", :data => {:widget => {:id => "441369035196731392"}}} Tweets by @ernestgrumbles
