.page-header
    %h2 Work
.row-fluid
    .span4
        %a.twitter-timeline{:href => "https://twitter.com/ernestgrumbles", :data => {:widget => {:id => "437484585438285824"}}} Tweets by @ernestgrumbles
    .span8
        %p
            %b Corporate
        %ul
            %li Business formation, including entity selection and filing
            %li Preparation of shareholder, partnership, limited liability company and other agreements
            %li Negotiation and drafting of business agreements and contracts
            %li Negotiation and drafting of agreements for asset and sales transactions, mergers, consolidations, reorganizations, liquidations, and similar restructurings
        %p
            %b Finance
        %ul
            %li Planning and documentation for equity and debt offerings
            %li Venture capital investment issues
            %li Private equity issues
            %li Minnesota Angel Tax Credit Certification
            %li Regulatory issues
        %p
            %b Strategic IP
        %ul
            %li Enterprise IP evaluation, including identification and ownership of IP assets
            %li Patent prosecution and portfolio development
            %li Trademark clearance and protection
            %li Confidentiality and trade secret protection
            %li IP licensing and transfer
            %li IP enforcement/litigation
